doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    title 家庭账本后台管理系统
    meta(name="description",content="后台管理系统")
    meta(name="keywords",content="backend system")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="renderer",content="webkit")
    meta(http-equiv="Cache-Control",content="no-siteapp")
    link(rel="icon",type="image/png",href="#{_base}/i/favicon.png")
    link(rel="apple-touch-icon=precomposed",href="#{_base}/i/app-icon72x72@2x.png")
    include css.jade

  body.theme-white
    .am-g.tpl-g
      //- 头部
      include head.jade
      //- 侧边栏
      include sidebar.jade
      .tpl-content-wrapper
        block content
    include js.jade


