block js
  script(src="#{_base}/js/jquery.min.js")
  script(src="#{_base}/js/amazeui.min.js")
  script(src="#{_base}/js/amazeui.datatables.min.js")
  script(src="#{_base}/js/dataTables.responsive.min.js")