extends ../layout/basic.jade
append js
  script(src="#{_base}/js/classifyindex.js")

block content
  .row-content.am-cf
    input(type="hidden",name="userid",value="#{currentUser.id}")
    input(type="hidden",name="baseUrl",value="#{_base}")
    .row
      .am-u-sm-12.am-u-md-12.am-u-lg-12
        .widget.am-cf
          .widget-head.am-cf
            .widget-title.am-cf 分类列表
          .widget-body.am-fr
            .am-u-sm-12.am-u-md-6.am-u-lg-6
              .am-form-group
                .am-btn-group.am-btn-group-xs
                  a.am-btn.am-btn-default.am-btn-success(href="#{_base}/backend/classify/new")
                    span.am-icon-plus
                    | 新增
            .am-u-sm-12.am-u-md-6.am-u-lg-3
              .am-form-group.tpl-table-list-select
                select#cSelect(data-am-selected="{btnSize:'sm'}")
                  option(value="all") 所有类别
                  option(value="支出") 支出
                  option(value="收入") 收入
            .am-u-sm-12.am-u-md-6.am-u-lg-3
              .am-input-group.am-input-group-sm.tpl-form-border-form.cl-p
                input#cSearch.am-form-field(type="text")
                span.am-input-group-btn
                  button.am-btn.am-btn-default.am-btn-success.tpl-table-list-field.am-icon-search
            .am-u-sm-12
              table.am-table.am-table-compact.am-table-striped.tpl-table-black(width="100%")
                thead
                  tr
                    th 类别名称
                    th 类型
                    th 更新时间
                    th 操作
                tbody

            .am-u-lg-12.am-cf
              .am-u-sm-4.am-u-lg-3(style="line-height:74px;")
                span 共
                span.pagIndex 1
                span /
                span#totalPage 12
                span 页
              .am-u-sm-8.am-u-lg-9.am-cf
                ul.am-pagination.tpl-pagination.am-fr
                  li.am-disabled
                    a(href="#") «
                  li.am-active
                    a.pagIndex(href="#") 1
                  li
                    a(href="#") »

  #classifyPrompt.am-modal.am-modal-prompt
    .am-modal-dialog
      .am-modal-hd 分类修改:
      .am-modal-bd
        input.am-modal-prompt-input
      .am-modal-footer
        span.am-modal-btn.am-btn-default(data-am-modal-cancel,style="color:#fff;") 取消
        span.am-modal-btn.am-btn-secondary(data-am-modal-confirm,style="color:#fff;")  更新
