extends ../layout/basic.jade

block content
  .row-content.am-cf
    .row
      .am-u-sm-12.am-u-md-12.am-u-lg-12
        .widget.am-cf
          .widget-head.am-cf
            .widget-title.am-fl 创建分类
            .widget-function.am-fr
              a.am-icon-cog(href="javascript:;")
          .widget-body.am-fr
            form.am-form.tpl-form-line-form(action="#{_base}/backend/classify/create",method="post")
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 类别名称
                  //- span.tpl-form-line-small-title title
                .am-u-sm-9
                  input.tpl-form-input(type="text",name="name",required)
                  small 请输入类别名称
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 类别类型
                  //- span.tpl-form-line-small-title Author
                .am-u-sm-9
                  select(data-am-selected,name="type")
                    option(value="支出",selected) 支出
                    option(value="收入") 收入
              .am-form-group
                input(type="hidden",name="_csrf",value="#{_csrf}")
                .am-u-sm-9.am-u-sm-push-3
                  button.am-btn.am-btn-primary.tpl-btn-bg-color-success(type="submit") 保存
                  a.am-btn.am-btn-default.tpl-btn-bg-color-default(href="#{_base}/backend/classify") 取消

