extends ../layout/basic.jade

block content
  .row-content.am-cf
    .row
      .am-u-sm-12.am-u-md-12.am-u-lg-12
        .widget.am-cf
          .widget-head.am-cf
            .widget-title.am-fl 创建分类
            .widget-function.am-fr
              a.am-icon-cog(href="javascript:;")
          .widget-body.am-fr
            form.am-form.tpl-form-line-form
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 标题
                  span.tpl-form-line-small-title title
                .am-u-sm-9
                  input.tpl-form-input(type="text")
                  small 请填写标题文字10-20字左右
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 发布时间
                  span.tpl-form-line-small-title Time
                .am-u-sm-9
                  input.am-form-field.tpl-form-no-bg(data-am-datepicker="",readonly="")
                  small 发布时间必填
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 作者
                  span.tpl-form-line-small-title Author
                .am-u-sm-9
                  select(data-am-selected="{searchBox:1}",style="display:none")
                    option(value="a") The.CC
                    option(value="b") 夕风色
                    option(value="o") orange
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | SEO 关键字
                  span.tpl-form-line-small-title SEO
                .am-u-sm-9
                  input(type="text")
              .am-form-group
                label.am-u-sm-3.am-form-label
                  | 封面图
                  span.tpl-form-line-small-title Images
                .am-u-sm-9
                  .am-form-group.am-form-file
                    .tpl-form-file-img
                      img(src="#{_base}/img/a5.png")
                    button.am-btn.am-btn-danger.am-btn-sm
                      i.am-icon-cloud-upload
                      | 添加封面图片
                    input(type="file",multiple="")
              .am-form-group
                label.am-u-sm-3.am-form-label 隐藏文章
                .am-u-sm-9
                  .tpl-switch
                    input.ios-switch.bigswitch.tpl-switch-btn(type="checkbox",checked="")
                    .tpl-switch-btn-view
                      div
              .am-form-group
                label.am-u-sm-3.am-form-label 文章内容
                .am-u-sm-9
                  textarea(rows="5",style="border:1px solid #ccc;")
              .am-form-group
                .am-u-sm-9.am-u-sm-push-3
                  button.am-btn.am-btn-primary.tpl-btn-bg-color-success(type="submit") 提交

